<?php

/// |--------------------------------------------------------------|
/// | The script thank you for Notos (notos.korsan@gmail.com)      |
/// |--------------------------------------------------------------|
/// | The script was further developed Tiby08 (tiby0108@gmail.com) |
/// |--------------------------------------------------------------|

$autodlPort = <PORT>;
$autodlPassword = "<PASSWORD>";

?>
